@require '../settings';

.holder {
  height: $action-bar-height;
}

.bar {
  reset: font;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: $action-bar-height;
  background: #ccc;
}
