// 颜色
$color-primary = #1AAD19; // 主色
$color-warning = #F85; // 警告色
$color-danger = #FF6969; // 危险色

// 链接颜色
$color-link = #586C94; // 链接颜色

// 文字颜色
$color-text-base = #000000;
$color-text-secondary = #A4A9B0;
$color-text-danger = $color-danger;
$color-text-placeholder = #BBB;
$color-text-caption = #888;
$color-text-paragraph = #333;

// 边框颜色
$color-line-light = #E5E5E5;
$color-line-dark = #BCBAB6;

// 背景颜色
$fill-base = #FFF;
$fill-body = #F5F5F9;
$fill-tap = #DDD;
$fill-mask = rgba(0, 0, 0, 0.4);

// 水平间距
$h-spacing-sm = 5px;
$h-spacing-md = 8px;
$h-spacing-lg = 15px;

// 垂直间距
$v-spacing-xs = 3px;
$v-spacing-sm = 6px;
$v-spacing-md = 9px;
$v-spacing-lg = 15px;
$v-spacing-xl = 21px;

// 透明度
$opacity-disabled = 0.3;

// 按钮
$button-height = 46px;
$button-font-size = 18px;
$button-height--mini = 29px;
$button-font-size--mini = 13px;

// 选择器
$choose-size = 22px;
