@require '../settings';

.holder {
  height: $action-bar-height;
}

.action-bar {
  reset: base;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  background: white;
  height: $action-bar-height;
  z-index: $action-bar-z-index;
  font-size: $font-size-caption;
  &:not(.no-border) {
    hairline(top);
  }
}
