@require '../settings';

.carousel {
  position: relative;
  :global(.l-scroll-view) > * {
    width: 100%;
  }
}

.indicator {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  .dot {
    size: 6px;
    background: #CCC;
    border-radius: 50%;
    &.active {
      background: $color-text-caption;
    }
  }
  .horizontal & {
    left: 0;
    bottom: $v-spacing-sm;
    width: 100%;
    .dot {
      margin: 0 $v-spacing-xs;
    }
  }
  .vertical & {
    flex-direction: column;
    top: 0;
    right: $v-spacing-sm;
    height: 100%;
    .dot {
      margin: $v-spacing-xs 0;
    }
  }
}
