@require '../settings';

$list-item-h-padding = $h-spacing-lg;
$list-item-v-padding = $v-spacing-md;
$list-item-h-spacing = $h-spacing-md;

.list-item {
  reset: base;
  user-select: auto;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  line-height: 1.5;

  // 点击反馈
  &.feedback {
    &.active {
      background-color: $fill-tap;
    }
  }

  // 分隔线
  &.long-divider {
    &:not(:last-child) {
      hairline(bottom);
    }
  }
  &:not(.long-divider):not(.no-divider):not(:last-child) .body {
    hairline(bottom);
  }
}

// 头部
.header {
  font-size: 1.2em;
  line-height: 1;
  margin-left: $list-item-h-padding;
}

// 主内容
.body {
  reset: box-model;
  flex-grow: 1;
  display: flex;
  align-items: center;
  min-height: 44px;
  overflow: hidden;
  margin-left: $list-item-h-padding;
  padding: $list-item-v-padding $list-item-h-padding $list-item-v-padding 0;

  // 标题
  .title {
    flex-grow: 1;
    ellipsis: 1;
  }

  // 内容区
  .value {
    // 以极大的 grow 和 shrink 值令其自适应
    flex-grow: 2000;
    flex-shrink: 2000;
    text-wrap: true;
  }

  // 其他信息
  .extra {
    font-size: .9em;
    color: $color-text-caption;
    text-wrap: true;
  }

  // 链接箭头
  .chevron {
    flex-shrink: 0;
    font-size: .7em;
    color: $color-line-dark;
  }
}

// 间隔
.header + .body, .title + .value, .value + .extra {
  margin-left: $list-item-h-spacing;
}
