@require '../settings';

.wrapper {
  z-index: 1;
  height: 100%;
  overflow: hidden;
}

.vertical > .view {
  display: flex;
  flex-direction: column;
}

.horizontal > .view {
  display: flex;
  flex-wrap: nowrap;
  > * {
    flex-shrink: 0;
  }
}
