@require '../settings';

.tip {
  &:global(.l-popover) {
    color: $fill-base;
    background-color: $tip-bg-color;
  }
  :global(.l-popover-arrow) {
    color: $tip-bg-color;
  }
}

.close {
  font-size: 1.15em;
  color: rgba(white, 50%);
  margin-left: $h-spacing-sm;
}
